<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="../static/script.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Zyski jednoskowe pośrednika</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th th:each="col, colStat : ${profit[0]}" scope="col" th:text="${'Odbiorca ' + (colStat.index + 1)}">Demand 1</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row, rowStat : ${profit}">
            <th scope="row" th:text="${'Dostawca ' + (rowStat.index + 1)}">Supply 1</th>
            <td th:each="cell : ${row}" th:text="${cell}">0</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
