<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="script.js"></script>
    <style>
        body {
            background-color: lightblue;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: lightgray;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 0;
        }

        h3 {
            margin-top: 20px;
        }

    </style>
</head>
<body>
<div class="container">
    <form th:action="@{/insertData}" method="post">
        <div class="form-group">
            <label for="suppliers">Liczba dostawców:</label>
            <input type="number" class="form-control" id="suppliers" name="suppliers" min="1">
        </div>
        <div class="form-group">
            <label for="receiver">Liczba odbiorców:</label>
            <input type="number" class="form-control" id="receiver" name="receiver" min="1">
        </div>
        <div class="form-group">
            <label for="suplier-vector">Podaż od dostawców:</label>
            <div class="row" id="suplier-vector">
            </div>
            <!--            <input type="text" class="form-control" id="podaż" name="podaż" placeholder="np. 20, 30">-->
        </div>
        <div>
            <label for="receiver-vector">Popyt od odbiorców:</label>
            <div class="row" id="receiver-vector"></div>
            <!--            <input type="text" class="form-control" id="popyt" name="popyt" placeholder="np. 10, 28, 27">-->
        </div>
        <div class="form-group">
            <label for="buyCost-vector">Ceny zakupu:</label>
            <div class="row" id="buyCost-vector">
                <!--            <input type="text" class="form-control" id="cena_zakupu" name="cena_zakupu" placeholder="np. 10, 12">-->
            </div>
            <div class="sellCost-vector">
                <label for="sellCost-vector">Ceny sprzedaży:</label>
                <div class="row" id="sellCost-vector">
                    <!--            <input type="text" class="form-control" id="cena_sprzedaży" name="cena_sprzedaży"-->
                    <!--                   placeholder="np. 30, 25, 30">-->
                </div>
                <div class="form-group">
                    <label for="sellCost-vector">Macierz kosztów transportu:</label>
                    <div class="row" id="matrix-container">
                        <!-- Macierz kosztów transportu zostanie tutaj wygenerowana przez kod JavaScript -->
                    </div>
                </div>
                <button onsubmit="" type="submit" class="btn btn-primary">Wyślij</button>

    </form>
</div>

<script src="script.js"></script>

</body>
</html>